*{
    font-family: 'Josefin Sans', sans-serif;
}
.card {
    width: 40%;
    margin: 80px auto;
    text-align: center;
    border-radius: 10px;
    font-family: 'Josefin Sans', sans-serif;
    padding: 10px ;
}
h5.card-title {
    font-size: 29px;
    font-weight: 600;
}
p.card-text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.card img {
    margin-bottom: 20px;
    width: 80px;
}
body{
    background-color: #686de0;
}
.btn {
    background: #686de0;
    border: none;
    color: rgb(247, 246, 246);
    font-size: 18px;
    width: 70%;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
}
h6.cat {
    font-weight: 600;
    margin-bottom: 25px;
}
.btn:hover{
    color: #fff;
}
.btn:focus{
    box-shadow: none;
}
.Loading {
    opacity: 0.5;
}
.copyRight  p{
   font-size: 16px;
}
@media screen and (max-width:1024px) {
    .card {
        width: 80%;
    }
}
@media screen and (max-width:768px) {
    .card {
        width: 100%;
    }
}